<h2>All Categories</h2>
<h3>Add Main Category</h3>
  <form action="/categories/main" method="POST">
    <input type="text" name="name" placeholder="Main Category Name" required />
    <button type="submit">Add</button>
  </form>
<% categories.forEach(main => { %>
  <h3><%= main.name %></h3>
  <ul>
    <% main.apparelTypes.forEach(app => { %>
      <li><strong><%= app.name %></strong>
        <ul>
          <% app.subcategories.forEach(sub => { %>
            <li>
              <a href="/subcategory/<%= sub._id %>/products"><%= sub.name %></a>
            </li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>
<% }) %>
