<h2>Add Subcategory</h2>
<form action="/categories/apparel/<%= apparelTypes[0]._id %>/subcategory" method="POST">
  <select name="apparelId" onchange="this.form.action = '/categories/apparel/' + this.value + '/subcategory'">
    <% apparelTypes.forEach(app => { %>
      <option value="<%= app._id %>">
        <%= app.name %> - (<%= app.mainCategory.name %>)
      </option>
    <% }) %>
  </select>
  <input type="text" name="name" placeholder="Subcategory Name" required />
  <button type="submit">Add</button>
</form>
