<% layout("/layouts/boilerplate") -%>
<body>
  <h1>Welcome, <%= user.username %>!</h1>

  <p>Email: <%= user.email %></p>
  <p>Role: <%= user.role %></p>

  <ul>
    <li><a href="/allusers">View all users</a></li>
    <li><a href="/orders">View all orders</a></li>
    <li><a href="/allproducts">View all products</a></li>
    <li><a href="/newproduct">➕ Add New Product</a></li>
    <li><a href="/admin/logout">🚪 Logout</a></li>
  </ul>
</body>
</html>
