<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4 text-primary" href="/admin/dashboard">The Textile Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/vendors">Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ms-2" href="/admin/login">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
